.main {
  min-height: 100vh;
  background-image: url("../public/background-home-desktop.jpg");
  background-size: cover;
}

.text-container {
  position: absolute;
  bottom: 130px;
  left: 165px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 450px;
}

.subheading-1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 4.725px;
  text-transform: uppercase;

  color: #d0d6f9;
}

.heading-1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  line-height: 172px;
  font-weight: 400;
  text-transform: uppercase;
}

.text-container p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;

  color: #d0d6f9;
}

.cta {
  position: absolute;
  bottom: 130px;
  right: 165px;

  height: 274px;
  width: 274px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Bellefair", serif;
  font-size: 32px;
  line-height: 37px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: #fff;
  color: #000;

  cursor: pointer;
}
