.header {
  font-family: "Barlow Condensed", sans-serif;
  position: absolute;
  top: 40px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 10;
}

.logo {
  height: 48px;
  width: 48px;
  margin-left: 55px;
}

.line {
  height: 1px;
  width: 100%;
  transform: translateX(5%);
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 5;
}

.navbar {
  padding: 0 165px 0 125px;
  backdrop-filter: blur(10px);
}

.navlist {
  margin: 0;
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
}

.navlist li {
  border-bottom: 3px solid transparent;

  transition: all 0.3s;
}

.navlist li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.navlist li.active {
  border-bottom: 3px solid #fff;
}

.navlist a {
  display: flex;
  gap: 10px;
  padding: 40px 0;
}

.navlink-prefix {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 2.7px;
}

.navlink {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  .header {
    top: 0;
  }

  .line {
    display: none;
  }

  .navbar {
    padding: 0 48px 0 48px;
  }

  .navlist {
    gap: 40px;
  }

  .navlink-prefix {
    display: none;
  }

  .navlink {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
  }
}
