.main {
  min-height: 100vh;
  background-image: url("../public/background-technology-desktop.jpg");
  background-size: cover;
}

.grid {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 65%;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  column-gap: 80px;
}

.text-container {
  width: min-content;
  grid-column: 2;
  grid-row: 2;
}

.subheading-container {
  grid-column: 1/-1;
}

.subheading-prefix,
.subheading-1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 4.725px;
  text-transform: uppercase;
}

.subheading-prefix {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.25);
}

.subheading-1 {
  grid-row: 1;
  grid-column: 1;

  color: #ffffff;

  margin-left: 28px;
}

.name-caption {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  display: block;
  margin-top: 137px;
  margin-bottom: 15px;

  color: #d0d6f9;
}

.name {
  font-family: "Bellefair", serif;
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;

  display: block;
  margin-top: 11px;
  margin-bottom: 17px;

  color: rgba(255, 255, 255);
}

.description {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  line-break: normal;

  color: #d0d6f9;

  width: 444px;
}

.picture {
  grid-column: 3;
  grid-row: 1/-1;
  align-self: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 137px;
}

.btn {
  height: 80px;
  width: 80px;

  font-family: "Bellefair", serif;
  font-size: 32px;
  line-height: 37px;
  font-weight: 400;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;

  color: #fff;
  background-color: transparent;

  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #fff;
}

.btn.active-tab {
  color: #0b0d17;
  background-color: #fff;
}

@media screen and (max-width: 1100px) {
  .main {
    background-image: url("../public/background-technology-tablet.jpg");
  }

  .grid {
    width: 100%;
    top: 135px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .subheading-container {
    margin-left: 5%;
    margin-bottom: 60px;
  }

  .subheading-prefix,
  .subheading-1 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .picture {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
  }

  .btn-container {
    margin: 0;
    margin-top: 56px;
    flex-direction: row;
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
  }

  .text-container {
    margin-top: 44px;
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    justify-self: center;
  }

  .name-caption {
    margin: 0;
  }

  .name {
    font-size: 40px;
    line-height: 46px;
  }

  .description {
    font-size: 16px;
    line-height: 28px;
  }
}
